<div id="color_info">
<u>COLOR</u><br/><br/>
COLOR IDENTIFICATION IS THE MOST PROMINENT ATTRIBUTE AMONG SYNESTHETES.<br/><br/>

<u>7 CHOICES</u><br/><br/>
<span style="font-size:23pt"><img src='/images/red.png'/> <img src='/images/orange.png'/> <img src='/images/yellow.png'/> <img src='/images/green.png'/> <img src='/images/blue.png'/> <img src='/images/purple.png'/> <img src='/images/pink.png'/></span>
</div>