<div id="gender_info">
<u>GENDER</u><br/><br/>
INSIDE TEH SYNESTHETE's MIND, IF ONE ATTRIBUTE IS ALWAYS CONSISTENT IT IS GENDER.<br/><br/>

<u>FEMALE VS MALE</u><br/><br/>
<span style="font-size:23pt">&#36;VS&#33;</span>
</div>