<div id="temperment_info">
<u>TEMPERAMENT</u><br/><br/>
WITHIN PERSONIFICATION, OLP, SYNESTHESIA, NUMBERS ARE LIKE HUMAN BEINGS WITH DIFFERENT TEMPERAMENTS. <br/><br/>

<u>11 CHOICES</u><br/><br/>
<span style="font-size:11pt">&#38; &#42; &#62; &#123; &#125; &#126; &#124; &#94; &#41; &#91; &#93; &#62;</span>
</div>