<div id="content">
	<div id="r1c1" class="row1">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	<div id="r1c2" class="row1">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	<div id="r1c3" class="row1">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>				
	<div id="r1c4" class="row1">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	<div id="r1c5" class="row1">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	<div id="home_r1c6" class="row1">
	</div>
	<div id="r2c1" class="row2">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	<div id="r2c2" class="row2">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	<div id="about_r2c3" class="row2">
		<span style="color:#FF06F5">STATEMENT OF INTENT</span>
	</div>
	<div id="about_r2c45" class="row2">
		Christina Nizar and Ji Yong (Raisa) Park met at Art Center College of Design where they challenged each other in the areas of both academic and visual communication of graphic design.  They are both process and research driven designers that enjoy fiddling with complicated ideas; thus, they collaborated to delve into a subject matter, Synesthesia that has recently become a rediscovery of modern researchers to examine. Probing into the layers of abstract and unresolved principles of Synesthesia, they allowed their contrasting idiosyncrasies to conduct the project: Ji Yong (Raisa), a Synesthete with Personality (OLP) Synesthesia and Christina who has a dyslexia which  affects her interaction and relationship with numbers.
	
	</div>
	<div id="home_r2c6" class="row2">
		<ul id="tabs">
			<li style="text-decoration: none">Register/Login</li>
			<li style="text-decoration: line-through; color: #000000">Archive</li>
			<li style="text-decoration: underline"><%= link_to "About", users_about_path %></li>
			<li style="text-decoration: none"><%= link_to "Home", users_community_path %></li>
		</ul>	
		Like button
	</div>
	<div id="r3c1" class="row3">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	
	<div id="r3c2" class="row2">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	<div id="r3c3" class="row2">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	<div id="r3c4" class="row2">
	</div>
	<div id="r3c5" class="row3">
	</div>
	<div id="r3c6" class="row3">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>		
	<div id="r4c1" class="row4">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>		
	<div id="r4c2" class="row4">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>		
	<div id="r4c3" class="row4">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>		
	<div id="r4c4" class="row4">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>		
	<div id="r4c5" class="row4">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>	
	<div id="r4c6" class="row4">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>	
</div>
