<script>
$(document).ready(function(){
	$('#content').css('display','none');
	$('#gif2').css('display','none');
	$('#gif3').css('display','none');
	$('#gif4').css('display','none');
	$('#gif5').css('display','none');	
});

function loadGif(n) {
	$('#gif'+(n-1)).css('display', 'none');
	$('#gif'+n).css('display', 'block');
}
function loadContent(n) {
	$('#gif'+n).css('display', 'none');
	$('#content').css('display', 'block');
}
</script>
<div id="gif1" onclick = "loadGif(2);"></div>
<div id="gif2" onclick = "loadGif(3);"></div>
<div id="gif3" onclick = "loadGif(4);"></div>
<div id="gif4" onclick = "loadGif(5);"></div>
<div id="gif5" onclick = "loadContent(5);"></div>
<div id="content">
	<div id="r1c1" class="row1">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	<div id="r1c2" class="row1">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	<div id="r1c3" class="row1">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>				
	<div id="r1c4" class="row1">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	<div id="r1c5" class="row1">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	<div id="home_r1c6" class="row1">
	</div>
	<div id="r2c1" class="row2">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	<div id="home_r2c234" class="row2"><br/>
		COUNTLESS IS A PROJECT WHICH
		 CHALLENGES HOW WE PERCEIVE<br/>
		 AND INTERACT WITH NUMBERS.
	</div>
	<div id="r2c5" class="row2">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	<div id="home_r2c6" class="row2">
		<ul id="tabs">
			<% if current_user %>
				<%= link_to "Sign out", signout_path %>
				<li style="text-decoration: none; color: #FFFFFF"><%= link_to "Archive", numbers_archive_path %></li>
			
			<% else %>
				<li style="text-decoration: line-through; color: #000000">Archive</li>
			
			<% end %>
			<li style="text-decoration: none"><%= link_to "About", users_about_path %></li>
		</ul><br/><br/><br/><br/>
		<div class="fb-like" id="fblike" data-href="http://www.countless.info" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
	</div>
	<div id="r3c1" class="row3">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	
	<div id="home_r3c234" class="row2">
	   IT AIMS TO EMULATE THE
	 SYNESTHETIC EXPERIENCE BY
	CREATING A DIGITAL COMMUNITY<br/>OF “LIVING” NUMBERS.
	</div>

	<div id="r3c5" class="row3">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	<div id="home_r3c6" class="row3">
		<% if !current_user %>
		PLEASE LOGIN TO YOUR
		FACEBOOK ACCOUNT TO
		ACCESS COUNTLESS.<br/><br/><br/><br/><br/>
			<%= link_to(image_tag("/images/fb_login.png"), "/auth/facebook", :id => "login") %>
		<% end %>
	</div>		
	<div id="r4c1" class="row4">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>		
	<div id="r4c2" class="row4">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>		
	<div id="r4c3" class="row4">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>		
	<div id="r4c4" class="row4">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>		
	<div id="r4c5" class="row4">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>	
	<div id="r4c6" class="row4">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>	
</div>