<div id="content">
	<div id="r1c1" class="row1">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	<div id="r1c2" class="row1">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	<div id="r1c3" class="row1">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>				
	<div id="r1c4" class="row1">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	<div id="r1c5" class="row1">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	<div id="home_r1c6" class="row1">
	</div>
	<div id="r2c1" class="row2">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	<div id="home_r2c234" class="row2">
		COUNTLESS IS A PROJECT WHICH
		 CHALLENGES HOW WE PERCEIVE
		 AND INTERACT WITH NUMBERS.
	</div>
	<div id="r2c5" class="row2">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	<div id="home_r2c6" class="row2">
		<ul id="tabs">
			<li style="text-decoration: underline">Register/Login</li>
			<li style="text-decoration: line-through; color: #000000">Archive</li>
			<li style="text-decoration: none"><%= link_to "About", users_about_path %></li>
		</ul>	
		Like button
	</div>
	<div id="r3c1" class="row3">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	
	<div id="home_r3c234" class="row2">
	   IT AIMS TO EMULATE THE
	 SYNESTHETIC EXPERIENCE BY
	CREATING A DIGITAL COMMUNITY
	    OF “LIVING” NUMBERS.
	</div>

	<div id="r3c5" class="row3">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>
	<div id="home_r3c6" class="row3">
		PLEASE LOGIN TO YOUR
		FACEBOOK ACCOUNT TO
		ACCESS COUNTLESS.<br/><br/><br/><br/><br/>
	<%= fb_connect_async_js %>
	<% if current_facebook_user %>
	  <%= fb_logout_link("Logout of fb", request.url) %><br />
	<% else %>
	  <%= fb_login_and_redirect('http://localhost:3000/users/new', :perms => 'user_location,user_work_history,email,user_birthday,publish_stream') %>
	<% end %>
	</div>		
	<div id="r4c1" class="row4">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>		
	<div id="r4c2" class="row4">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>		
	<div id="r4c3" class="row4">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>		
	<div id="r4c4" class="row4">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>		
	<div id="r4c5" class="row4">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>	
	<div id="r4c6" class="row4">
		<span class="copyright">&#169;</span><span class="trademark">&#174;</span>
	</div>	
</div>
